{% extends 'base.html' %}
{% load staticfiles %}
{#{% block style %}#}
{#    <style>#}
{#    .jumbotron{#}
{#        text-align: center;#}
{#        font-family: sans-serif;#}
{#        color: black;#}
{#    }#}
{##}
{#    </style>#}
{#{% endblock %}#}
{#{% block jumbtron %}#}
{#     <!-- Main jumbotron for a primary marketing message or call to action -->#}
{#      <div class="jumbotron">#}
{##}
{#      </div>#}
{#{% endblock %}#}
{% block content %}
    <div class="row">


        <div class="col-md-8">


        <!-- Carousel
    ================================================== -->


      <!-- Indicators -->

        <div class="item active">
          <img class="first-slide" src="{% static 'img/joy.jpg' %}" alt="First slide"  style="height: 500px" width="1150px">
          <div class="container">
            <div class="carousel-caption">
              <h1>COMPUTER SCIENCE AND ENGINEERIG (13-14).</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">See The  Jamaner Profile</a></p>
            </div>
          </div>
        </div>

   <!-- /.carousel -->
      </div>
    </div>
{% endblock %}
