{% load staticfiles %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=" "> <img src="{% static 'img/111.jpg' %}"  style="height: 50px" width="100px" class="profile-image img-circle"></a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
           {% url 'home' as home %}
          {% url 'about' as about %}
          {% url 'contact' as contact %}
{#          {% url 'checkout' as checkout %}#}
          {% url 'post_list' as post_list %}
{#          {% url 'post_create' as post_create %}#}


            <li {% if request.path == home %} class="active" {% endif %}><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span>HOME</a></li>
            <li {% if request.path == about %} class="active" {% endif %}><a href="{% url 'about' %}">ABOUT</a></li>
            <li {% if request.path == contact %} class="active" {% endif %}><a href="{% url 'contact' %}"><span class="glyphicon glyphicon-phone-alt"></span>CONTACT</a></li>
{#             <li {% if request.path == checkout %} class="active" {% endif %}><a href="{% url 'checkout' %}">PAYMENT</a></li>#}
              <li {% if request.path == post_list %} class="active" {% endif %}><a href="{% url 'post_list' %}">POSTS</a></li>
{#            <li {% if request.path == post_create %} class="active" {% endif %}><a href="{% url 'post_create' %}">CREATE_POSTS</a></li>#}

          </ul>
         <ul class="nav navbar-nav navbar-right">
           {% url 'login' as login %}
           {% url 'register' as register %}
             <li {% if request.path == login %} class="active" {% endif %}><a href="{% url 'login' %} "><span class="glyphicon glyphicon-log-in"></span>  LOGIN</a></li>
             <li {% if request.path == register %} class="active" {% endif %}><a href="{% url 'register' %}" > <span class="glyphicon glyphicon-user"></span>SIGNUP</a></li>
              </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>